<apex:page controller="CAT_LettersListViewController" showHeader="false"
           standardStylesheets="false" sidebar="false"
           title="{! $Label.Review_Cycle_Name & ' - Letters for ' & $User.FirstName & ' ' & $User.LastName}"
           id="thePage"
           action="{!createShares}">

  <head>
    <title>Test Compensation</title>
  </head>

  <apex:includeScript value="{!URLFOR($Resource.CAT_Assets, 'CAT_Assets/sg/lib/jquery-1.4.3.min.js')}" />
  <apex:stylesheet value="{!URLFOR($Resource.CAT_Assets, 'CAT_Assets/assets/LetterView.css')}" />
  <apex:includeScript value="{!URLFOR($Resource.CAT_Assets, 'CAT_Assets/sg/jszip.js')}" />
  <apex:includeScript value="{!URLFOR($Resource.CAT_Assets, 'CAT_Assets/downloadify/js/swfobject.js')}" />
  <apex:includeScript value="{!URLFOR($Resource.CAT_Assets, 'CAT_Assets/downloadify/js/downloadify.min.js')}" />
  <apex:includeScript value="../../soap/ajax/23.0/connection.js" />

  <apex:includeScript value="{!$Resource.FileSaver}"/>
  <!--<apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/amcharts/3.13.0/exporting/filesaver.js"/>-->
  
  <apex:includeScript value="{!URLFOR($Resource.CAT_Assets, 'CAT_Assets/sg/lib/jquery-ui-1.8.5.custom.min.js')}" />
  <apex:stylesheet value="{!URLFOR($Resource.CAT_Assets, 'CAT_Assets/sg/css/smoothness/jquery-ui-1.8.5.custom.css')}" />
  <input type="hidden" id="hrbpManager" />
  <input type="hidden" id="selectedManagerName" />

  <script>
    var globalRecordList = null, globalPosition = 0, zip = new JSZip(), globalLetterType = '';
    var globalManagerName = null;
    var hrbpManager = '';

    sforce.connection.sessionId = '{!$Api.Session_ID}';

    function handleLinkClick(currEle) {
      if(navigator.appName == 'Microsoft Internet Explorer') {
        currEle.parentNode.parentNode.childNodes[1].innerHTML='';
      } else {
        currEle.parentNode.parentNode.childNodes[3].innerHTML='';
      }
      currEle.style.color='#2F4664';
    }

    function showManagerPopup() {
      if ({!isHRBP}) {
        var managers = eval('({!JSENCODE(managersList)})');
          $('#fbManagerSelection').show();
          $('#closeManagerLink').show();
            $("#managerSelection").autocomplete({
              source: managers,
              focus:  function(event, ui) {
                $('#managerSelection').val(ui.item.label);
                $('#hrbpManager').val(ui.item.value);
                return false;
              },
              search: function(event, ui) {
              },
              select: function(event, ui) {
                $('#managerSelection').val(ui.item.label);
                $('#hrbpManager').val(ui.item.value);
                $('#selectedManagerName').val(ui.item.label);
                return false;
              }
            });
      }
    }



    function downloadAll(letterType, selManager) {
      $('#closeLink').hide();
      $('#overlay').show();
      $('#fbPopup').show();
      $('#fbPopupBody').html('<br /><br /><br />Please wait while the zip file is created...');
      globalLetterType = letterType;
      hrbpManager = selManager;
      CAT_LettersListViewController.getAttachments(letterType, hrbpManager, '{!currCycleId}', function(result, event) {
        if(event.type == 'exception') {
          alert('Oh no!  Something bad happened.  Please let your CAT Administrators know.');
        } else {
          globalRecordList = result;
          globalPosition = 0;
          zip = new JSZip();

          sforce.connection.query('SELECT Name, Body FROM Attachment WHERE Id = \'' + getLetter() + '\'', {
            onSuccess : successfulDownload,
            onFailure : function(queryResult) {}
          });
        }
      });
    }

    function getLetter(){
      var letter;
      if(globalLetterType == '' || globalLetterType == 'COMP'){
        letter = globalRecordList[globalPosition].Letter__c;
      } else if (globalLetterType == 'DE') {
        letter = globalRecordList[globalPosition].Discretionary_Equity_Letter__c;
      } else {
        letter = globalRecordList[globalPosition].Letter__c;
      }

      return letter;
    }

    function successfulDownload(queryResult) {
      var records = queryResult.getArray("records");
      if(queryResult.size > 0){
        $('#fbPopupBody').html('<br /><br />Downloading and Archiving:<br/><br/><span style="font-size:10px;"><i>' + records[0].Name + '</i></span>');
        zip.add(records[0].Name.replace(/\:/g, '-'), records[0].Body, {base64: true});
      }

      if(++globalPosition < globalRecordList.length) {
        sforce.connection.query('SELECT Name, Body FROM Attachment WHERE Id = \'' + getLetter() + '\'', {
          onSuccess : successfulDownload,
          onFailure : function(queryResult) {}
        });
      } else {
        finishDownloadProcess(globalRecordList.length);
      }
    }

    function finishDownloadProcess(numFiles) {
      var now = new Date();
      var fileName = sforce.connection.getUserInfo().userFullName.replace(/\ /g, '') + '.' + now.getFullYear() + '-' + (now.getMonth()+1) + '-' + now.getDate() + '.' + numFiles + '.zip';

      /* Using downloadify to change filename 
      Downloadify.create('closeLink',{
        filename: function(){
          return fileName;
        },
        data: function(){
          return zip.generate();
        },
        onComplete: function(){
          closePopup();
        },
        onCancel: function(){
          closePopup();
        },
        onError: function(){
          closePopup();
        },
        dataType: 'base64',
        swf: "{!URLFOR($Resource.CAT_Assets, 'CAT_Assets/downloadify/media/downloadify.swf')}",
        downloadImage: "{!URLFOR($Resource.CAT_Assets, 'CAT_Assets/downloadify/images/fbbutton.PNG')}",
        width: 91,
        height: 23,
        transparent: true,
        append: false
      });
       */
       console.log('11111');
        //var content = zip.generate();
        console.log('11112');
       
       console.log('11113');
       //var content = zip.generate({type:"base64"});
       console.log('11114');
       
        //document.getElementById('link').href = "data:application/zip;base64,"+content;
        
        //var url = URL.createObjectURL(blob);
        //location.href="data:application/zip;base64,"+content;
        //document.getElementById('link').href = url;
        /*
        var content = zip.generate();
        var url = URL.createObjectURL(blob);
        document.getElementById('link').href = url;
        */
        console.log('11115');
        var content = zip.generate({type:"blob"});
        console.log('11116'+content);
        try{
       saveAs(content, "hello.zip");
        }
        catch(e){
            console.log('*****e'+e);
        }
        console.log('11117');
      $('#fbPopupBody').html('<br /><br /><br />Done!  Click <i>Download</i> to save.');
      $('#closeLink').show();

      CAT_LettersListViewController.updateManagerDownloadDate(
        hrbpManager,
        globalLetterType,
        '{!currCycleId}',
        function(result, event) {}
      );
    }

    function closePopup() {
      $('#overlay').hide();
      $('#fbPopup').hide();
    }

    $(function() {
      showManagerPopup();
      var hasFlash = false;
      try {
        var fo = new ActiveXObject('ShockwaveFlash.ShockwaveFlash');
        if(fo) {
          hasFlash = true;
        }
      } catch(e) {
        if(navigator.mimeTypes ["application/x-shockwave-flash"] != undefined) {
          hasFlash = true;
        }
      }
      if(!hasFlash)  {
        $('#downloadLink').show();
        $('#noFlash').show();
      }
    });

  </script>

  <div id="overlay" class="transparent">
  </div>

  <div id="fbPopup">
    <div id="fbPopupHeader">
      Download All
    </div>
    <div id="fbPopupBody">
      <br /><br /><br />
      Please wait while the zip file is created...
    </div>
    <div id="fbPopupFooter">
      <div id="closeLink"></div>
    </div>
  </div>

  <div id="fbManagerSelection">
    <div id="fbManagerSelectionPopupHeader">
      Select Manager
    </div>
    <div id="fbManagerPopupBody">
      <br /><br />
      <apex:form >
      <apex:inputHidden value="{!selectedManager}" id="hrbpManager" />
       <apex:actionFunction name="managerDataChange" action="{!managerAccessView}" rerender="letterList, downloadLink, bodyMessageWrap" oncomplete="$('#overlay').hide();$('#fbManagerSelection').hide();$('#closeManagerLink').hide();">
        <apex:param name="firstParam" value="" assignTo="{!selectedManager}" />
        <apex:param name="secondParam" value="" assignTo="{!allManagersAvailable}" />
        <apex:param name="thirdParam" value="" assignTo="{!selectedManagerName}" />
      </apex:actionFunction>
        Please select a manager to view letters as:
        <input style="width:250px;" id="managerSelection"/>
      </apex:form>

    </div>
    <div id="fbManagerPopupFooter">
      <div id="closeManagerLink" align="right" style="padding-right: 10px;">
      <button type="button" href='#' onclick="managerDataChange($('#hrbpManager').val(), globalManagerName, $('#selectedManagerName').val())">OK</button></div>
    </div>
  </div>
  <apex:form styleClass="maxWidth maxHeight" id="theForm">
    <div id="header" class="maxWidth">
      <table class="maxWidth">
        <tr class="maxWidth">
          <td class="headerBuffer">
              <!--apex:image value="{!URLFOR($Resource.CAT_Assets, '/CAT_Assets/assets/internlogo.gif')}" /-->
          </td>
          <td id="headerChangeId">
            COMPENSATION
          </td>
          <td class="headerBuffer">
          </td>
        </tr>
      </table>
    </div>

    <div id="body" class="maxWidth maxHeight">
      <apex:outputPanel id="errors" styleClass="error-pane">
        <apex:outputLabel value="{!$Label.CAT_Manager_Error}" rendered="{!areErrors}" escape="true" />
      </apex:outputPanel>

      <div id="bodyMessage">
        <apex:outputPanel id="bodyMessageWrap">

        <apex:outputPanel id="bodyMessage">
          <apex:outputLabel id="deHeader" value="{!IF(isHRBP, selectedManagerName, $User.FirstName & ' ' & $User.LastName)} - download letters for the {!$Label.Review_Cycle_Name}"
                    rendered="{!(NOT(ISNULL(compFiles)) && compFiles.size > 0) || (NOT(ISNULL(deFiles)) && deFiles.size > 0)}" />

          <apex:outputLabel id="compHeader" value="{!IF(isHRBP, selectedManagerName, $User.FirstName & ' ' & $User.LastName)}"
                    rendered="{!(ISNULL(compFiles) || compFiles.size = 0) && (ISNULL(deFiles) || deFiles.size = 0)}" />

          <span class="submessage">
            <br />
            Please refer to the <a target='_blank' href='{!$Label.CAT_PSC_Wiki}'>Performance Summary Cycle Wiki</a>
            &nbsp;for frequently asked questions.  For specific questions regarding your letters, please contact your HR Business Partner.
          </span>

          <apex:outputLabel styleClass="submessage" value="<br />Please click <a href='/apex/CAT_LettersListView'>here</a> to load the page as a new manager" escape="false" rendered="{!isHRBP}" />
        </apex:outputPanel>

        </apex:outputPanel>
      </div>
      <apex:outputPanel id="letterList">
        <apex:outputPanel rendered="{!hasDELetters}">
          <ul id="letterNav">
            <li>
              <apex:commandLink action="{!processLetterListChange}" value="View Comp Letters" id="viewCompLetters" rerender="letterList">
                <apex:param name="letterType"
                          value="COMP"
                           assignTo="{!letterType}"/>
              </apex:commandLink>
              </li>
            <li>
              <apex:commandLink action="{!processLetterListChange}" value="View DE Letters" id="viewDeLetters" rerender="letterList">
                <apex:param name="letterType"
                          value="DE"
                           assignTo="{!letterType}"/>
              </apex:commandLink>
            </li>
          </ul>
        </apex:outputPanel>

        <!-- Table of comp files to download -->
        <apex:outputPanel id="downloadLink" rendered="{!(NOT(ISNULL(compFiles)) && compFiles.size > 0) || (NOT(ISNULL(deFiles)) && deFiles.size > 0)}">
          <a href='#' id='downloadLink' onclick="downloadAll('{!JSENCODE(letterType)}', '{!JSENCODE(selectedManager)}');">Download All</a><br />
          <div id="noFlash">To obtain access to <i>Download All</i> functionality, please update your browser with <a target="_blank" href="http://www.adobe.com/support/flashplayer/downloads.html">Adobe Flash</a>, then refresh this page.</div>
        </apex:outputPanel>

        <div id="bodyTable">
         
          <apex:outputPanel rendered="{!compFiles.size > 0 && (letterType =='COMP' || letterType =='')}">
            <table id="box-table-a">
              <apex:repeat value="{!compFiles}" var="file">
                    <tr>
                      <td class="leftHandTable">
                        <apex:commandLink rerender="errors" value="{!file.Employee_Name__c}" style="color:#669" action="{!trackLetterDownloads}" oncomplete="handleLinkClick(this);">
                          <apex:param name="lid" value="{!file.Id}"/>
                          <apex:param name="ltype" value="{!letterType}"/>
                        </apex:commandLink>
                      </td>
                      <td class="rightHandTable">

                      </td>
                    </tr>
                </apex:repeat>
            </table>
          </apex:outputPanel>

          <!-- DE Letter List -->
          <apex:outputPanel rendered="{!deFiles.size > 0 && letterType =='DE'}">
            <table id="box-table-a">
              <apex:repeat value="{!deFiles}" var="file">
                    <tr>
                      <td class="leftHandTable">
                        <apex:commandLink rerender="errors" value="{!file.Employee_Name__c}" style="color:#669" action="{!trackLetterDownloads}" oncomplete="handleLinkClick(this);" >
                          <apex:param name="lid" value="{!file.Id}"/>
                          <apex:param name="ltype" value="{!letterType}"/>
                        </apex:commandLink>
                      </td>
                      <td class="rightHandTable">

                      </td>
                    </tr>
                </apex:repeat>
            </table>
          </apex:outputPanel>
        </div>
      </apex:outputPanel>
      <a id="link">Download ANK</a>
    </div>
    
    </apex:form>
</apex:page>