<apex:page tabStyle="contact">
    <apex:sectionHeader title="Download All" subtitle="Create zip files "/>
    <apex:pageBlock title="Zip files">
        <center><c:CAT_LetterZipFile attachmentIds="00P15000018htQW,00P15000018hpXr" generatedFileName="2016 Q1 ZipFiles" mode="button"/></center>
    </apex:pageBlock>
</apex:page>