<!--  

@date        2/17/2011
@description One stop for all CSS in HRBP UI.
-->
<apex:component >

    <!-- CSS to Include -->
    <apex:stylesheet value="{!URLFOR($Resource.CAT_Assets, 'CAT_Assets/sg/slick.grid.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.CAT_Assets, 'CAT_Assets/sg/css/smoothness/jquery-ui-1.8.5.custom.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.CAT_Assets, 'CAT_Assets/sg/slick.columnpicker.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.CAT_Assets, 'CAT_Assets/sg/slick.pager.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.CAT_Assets, 'CAT_Assets/sg/CAT.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.CAT_Assets, 'CAT_Assets/assets/autoSuggest.css')}" />
    
    
    <!-- This CSS cannot be in a static resource due to its use of URLFOR -->
    <style>
        a.button {
            background: url({!URLFOR($Resource.CAT_Assets, '/CAT_Assets/assets/buttonBackRight.png')}) right no-repeat;
        }
        
        a.button span {
            background: url({!URLFOR($Resource.CAT_Assets, '/CAT_Assets/assets/buttonBackLeft.png')}) left no-repeat;
        }  
        
        button.submitBtn { 
            background: url({!URLFOR($Resource.CAT_Assets, '/CAT_Assets/assets/buttonBackRight.png')}) right no-repeat; 
        }
        
        button.submitBtn span { 
            background: url({!URLFOR($Resource.CAT_Assets, '/CAT_Assets/assets/buttonBackLeft.png')}) left no-repeat;
        }      
        
        ul.tabs li {
            background: url({!URLFOR($Resource.CAT_Assets, '/CAT_Assets/assets/darkTabBack.png')}) repeat-x;
            
        }     
        
        html ul.tabs li.active, html ul.tabs li.active a:hover  {
            background: url({!URLFOR($Resource.CAT_Assets, '/CAT_Assets/assets/tabBack.png')}) repeat-x;
        }
        
        .header-decoration {
            background-image: url({!URLFOR($Resource.CAT_Assets, '/CAT_Assets/assets/headerBack.png')});
        }

        div#cp-header {
            background: url({!URLFOR($Resource.CAT_Assets, '/CAT_Assets/assets/controlPanelHeaderBack.png')}) repeat-x;
        }
          
        .export-link {
            float: right;
            margin-right: 15px;
            font-size: 16px;
        }
        
        .export-link:hover {
            color: #5E7EC0;    
        }
        
        div#kpChartHome {
            display: none;
        }
    </style>
</apex:component>